<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Interview</title>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/select2.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <partial name="_NavTop" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-sm-3 text-end text-sm-start mb-sm-0 mb-2">
                    <h4 class="fw-bold my-1">@ViewData["Title"]</h4>
                </div>
                <div class="col-sm-9 text-end">
                    @await RenderSectionAsync("Header", required: false)
                </div>
            </div>
            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <partial name="_Notifications" />
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/select2.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
